 <!-- views/partials/header.ejs -->
  <link rel="stylesheet" href="/public/main.css">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/classPage">Home</a>
      <a href="/settings">Settings</a>
      <a href="/feedback">Feedback</a>
      <a href="/aboutUs">About</a>
      <a href="/logout">Logout</a>
    </div>

    <!--3 prong button that opens up navigation bar-->

    <div onclick="openNav()" class="opennav"> &#9776; </div>

  