 <!-- views/partials/header.ejs -->

<header class="header">
 <!DOCTYPE html>
<html lang="en">
<head>
  <title>Header</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="height:1500px">

<nav class="navbar navbar-inverse navbar-fixed-top">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/classPage">Home</a></li>
      <li><a href="/settings">Settings</a></li>
      <li><a href="/feedback">Feedback</a></li>
      <li><a href="/aboutUs">About</a></li>
      <li><a href="/logout">Logout</a></li>

    </ul>
  </div>
</nav>
</body>
</html>

</header>

 <aside class="sidenav">

 </aside>

