<!-- views/partials/head.ejs -->
  <link rel="icon" type="image/gif/png" href="/img/logo.png">
  <link rel="stylesheet" href="/flatly.css">
  <link rel="stylesheet" href="/dashboard.css">
  <link rel="stylesheet" href="/icons.css">

  <form  style="display: none" id="submitForm" method="post">
    <input type="hidden" name="useremail" id="useremail"> </input>
    <script>
      var email = document.getElementById('useremail');
      email.value = localStorage.getItem("username");
    </script>
  </form>