 <!-- views/partials/header.ejs -->
 
<header class="header">
  <div class="header__menu">
     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" style="width: all; margin-left: 15px;"> 
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</header>

 <aside class="sidenav">
 <div class="sidenav__close-icon">
 </div>
 <ul class="sidenav__list" position=fixed>
 <a href="/classPage"><li class="sidenav__list-item"><i class="material-icons">home</i> Home</li></a>
 <a href="/settings"><li class="sidenav__list-item"><i class="material-icons">settings</i> Settings</li></a>
 <a href="/feedback"><li class="sidenav__list-item"><i class="material-icons">feedback</i> Feedback</li></a>
 <a href="/aboutUs"><li class="sidenav__list-item"><i class="material-icons">info</i> About</li></a>
 <a href="/logout"><li class="sidenav__list-item">Logout</li></a>
 </ul> 
 </aside> 
