 <!-- views/partials/header.ejs -->
 
 <aside class="sidenav">
 <div class="sidenav__close-icon">
 <h1>Hello</h1>
 </div>
 <ul class="sidenav__list" position=fixed>
 <li class="sidenav__list-item"><a href="/classPage"><i class="material-icons">home</i> Home</a></li>
 <li class="sidenav__list-item"><a href="/settings"><i class="material-icons">settings</i> Settings</a></li>
 <li class="sidenav__list-item"><a href="/feedback"><i class="material-icons">feedback</i> Feedback</a></li>
 <li class="sidenav__list-item"><a href="/aboutUs"><i class="material-icons">info</i> About</a></li>
 <li class="sidenav__list-item"><a href="/logout">Logout</a></li>
 </ul>
 </aside>  