body {
	background-color: #D6E6F2;
}
#login
{
	background-color: #F7FBFC;
}
.headerImages {
	display: flex;
	width: 100%;
}

#dog
{
	flex-direction: row;
	display: inline-block;
	padding: 1em 1em 1em 1em;
}
#dumbcat
{
	flex-direction: row;
	display: inline-block;
	padding: 1em 1em 1em 1em;
}

.title {
	font-family: 'Fira Sans', sans-serif;
	color: #769FCD;
	text-align: center;
}

#submit-button
{
	display: inline-block;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 22px;
	padding-right: 22px;
	background-color: #F99;
	margin-top: 0%;
	color: #FFF;
	border-bottom: 3px solid #E25D4E;
	cursor: pointer;
}

.button {
	background-color: #2196F3;
	font-family: 'Fira Sans', sans-serif;
  	/*border: 2px solid #4CAF50;*/
  	/*border-color: black;*/
  	color: black;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 20px;
  	padding: 1em 1em 1em 1em;
  	transition-duration: 0.4s;
  	cursor: pointer;
}
/*********** Student List ***********/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /*background-color: #0099ff;*/
  padding: 1em 1em 1em 1em;
  /*padding: 10px;*/
}
.button:hover {
    background-color: #008CBA;
    color: white;
}
.grid-button {
	/*flex-direction: row;*/
	width: 100%;
	background-color: #2196F3;
	font-family: 'Fira Sans', sans-serif;
  	border: 2px solid #D6E6F2;
  	/*border-color: black;*/
  	color: black;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 20px;
  	padding: 1em 1em 1em 1em;
  	transition-duration: 0.4s;
  	cursor: pointer;
}