body {
	background-color: #D6E6F2;
}
#login
{
	background-color: #F7FBFC;
}

#title-icon
{
	background-size: contain;
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	display: inline-block;
}
#dumbcat
{
	width: 190px;
	height: 190px;
	margin-left: 300px;
	margin-top: 0px;
}

#login .title {
	font-family: 'BebasNeue.otf', sans-serif;
	color: #769FCD;
	text-align: center;
}
