/*
cssTemplate {
	background-color: ;
	color:;
	font-style:;
	font-family:;
	text-decoration:;
	text-align:;
	border:;
	padding:;
	position:;
	transition-duration:;
	cursor:;
}
*/

body {
	/*pretty light blue color*/
	background-color: #6bd5e1;
	/*text font and alignment*/
	color: #f9f9f9;
	font-family: 'Niramit', sans-serif;
	text-align: center;
	margin: auto;
}




h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}


/*Student Icon*/
.studentIcon {
   width:444px; /*width of your image*/
   height:444px; /*height of your image*/
   background-image: url('studentIcon.png');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}

/*Arrow Buttons*/

.backButton{
   width:106px; /*width of your image*/
   height:106px; /*height of your image*/
   background-image: url('backButton.png');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}

.submitButton{
   width:106px; /*width of your image*/
   height:106px; /*height of your image*/
   background-image: url('backButton.png');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
   transform: rotate(180deg); /*rotating the image*/
}

/*Goal Types*/
.socialGoal{
   width:698px; /*width of your image*/
   height:381px; /*height of your image*/
   background-image: url('socialGoal.png');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}

.academicGoal{
   width:698px; /*width of your image*/
   height:381px; /*height of your image*/
   background-image: url('academicGoal.png');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}

.behaviorGoal{
   width:698px; /*width of your image*/
   height:381px; /*height of your image*/
   background-image: url('behaviorGoal.png');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}

/*Header Buttons*/
.button{

}

.taskBar{
   width: 66px; /*width of your image*/
   height:49px; /*height of your image*/
   background-image: url('taskBar.png');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */

}

.download{
   width:70px; /*width of your image*/
   height:70px; /*height of your image*/
   background-image: url('download.png');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}

/*Position and Scaling*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.taskBarScaling{
	width: 10%;
	height: 10%;
}


/*Taskbar Buttons*/
.basicGrid{
   width:476px; /*width of your image*/
   height:109px; /*height of your image*/
   background-image: url('basicGrid.png');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}

.reminders{
   width:439px; /*width of your image*/
   height:103px; /*height of your image*/
   background-image: url('reminders.png');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}

.settings{
   width:400px; /*width of your image*/
   height:106px; /*height of your image*/
   background-image: url('settings.png');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}

.signOut{
   width:404px; /*width of your image*/
   height:97px; /*height of your image*/
   background-image: url('signOut.png');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}

/*********** Grid List Template ***********/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /*background-color: #0099ff;*/
  padding: 1em 1em 1em 1em;
  /*padding: 10px;*/
}

