<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/createGoal.css" />
  </head>
  <body>
    <!-- NAV BAR -->
    <nav>
      <div>
        <h2>TRACK ISD 2.0</h2>
      </div>
      <ul>
        <li>
          <a href="index.html">
            <div>HOME</div>
          </a>
        </li>
        <li>
          <a href="about.html">
            <div>ABOUT</div>
          </a>
        </li>
        <li>
          <a href="feedback.html">
            <div>FEEDBACK</div>
          </a>
        </li>
        <li>
            <a href="logout.html">
              <div>LOGOUT</div>
            </a>
          </li>
      </ul>
    </nav>
    <!-- END NAV BAR -->
      <form class="sectionOne">
      <!-- Goal -->
      <h2>GOAL</h2>
      <input type="text" name="goal_name" placeholder="Goal Name" />
      <textarea rows="4" cols="50" type="text" name="description" placeholder="Goal Description"></textarea>
      
      <!-- Dates -->
      <h2>DATES</h2>
      <input type="date">
      <input type="date">

      <!-- Goal Type -->
      <h2>GOAL TYPE</h2>
      <div class="goalType" id= "goalType">
        <input type="radio" id="Academic" name="goalType" value="Academic">
        <label for="Academic">Academic</label>
        <input type="radio" id="Behavior" name="goalType" value="Behavior">
        <label for="Behavior">Behavior</label>
      </div>

      <!-- Method of Collection -->
      <h2>METHOD OF COLLECTION</h2>
      <div class="methodOfCollection" name="methodOfCollection">
        <input type="radio" id="Score" name="methodOfCollection" value="Score">
        <label for="Score">Score</label>
        <input type="radio" id="Occurences" name="methodOfCollection" value="Occurences">
        <label for="Occurences">Occurences</label>
        <input type="radio" id="Description" name="methodOfCollection" value="Description">
        <label for="Description">Description</label>
        <input type="radio" id="Rubric" name="methodOfCollection" value="Rubric">
        <label for="Rubric">Rubric</label>
      </div>
    
      <button class="submit"><a href="student.html">Submit</a></button>
    </form>
    </section>
    <!-- END SEARCH -->
  </body>
</html>
