@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  max-width: 75rem;
  margin: 3rem auto 3rem;
  padding: 2rem;
  line-height: 1.6;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 15px;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav a:hover {
  color: #0070f3;
}

@media only screen and (max-width: 768px) {
  body{
    margin: 0;
    padding: 1rem 30px;
  }
}

/* Tutorial */
.tutorial {
  background-color: white;
  border-radius: 30px;
  margin-top: 4%;
  box-shadow: 0 0 45px -12px #989CFF;
  display: none;
  position: fixed;
  top: 0%;
  left: 30%;
  z-index: 10;
  width: 40%;
  height: 25%;
  overflow: auto;
}
.tutorialContent {

  border-radius: 10px;
  color: black;
  font: sans-serif;
  text-align: center;
  font-size: 15px;
}
.exit {
  margin-left: 27%;
  color: black;
  float: left;
  font-size: 17px;
}

.exit:hover {
  text-decoration: none;
  cursor: pointer;
  transform: translateY(-1.5px);
}

.next {
  color: black;
  margin-left: 27%;
  float: left;
  font-size: 17px;
}
.next:hover {
  transform: translateY(-1.5px);
  cursor: pointer;
}
.previous {
  color: black;
  margin-left: 27%;
  float: left;
  font-size: 20px;
}
.previous:hover {
  transform: translateY(-1.5px);
  cursor: pointer;
}