body{
    margin: 15rem auto 15rem;
}

input {
    margin-bottom: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    font-size: 24px;
    padding: 3px;
    border: 2px solid #eee;
    border-radius: 4px;
  }

button {
    border: none;
    background-color: #989CFF;
    width: 100%;
    padding: 5px 0px; /*Button Size */
    color: #fff;
    border-radius: 4px;
    font-size: 24px;
    transition: all 0.2s ease;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
  
  button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  section {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    justify-content: center;
    margin: auto;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    text-align: center;
  }
  
