.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: auto;
}
.card {
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 30px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.studentHeader{
  display: flex;
  flex-direction: row;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  margin: 25px 0px;
  padding: 0 15px;
  border-radius: 25px;
  background-color: white;
  align-items: center;
}

.studentName{
  display: flex;
  flex-grow: 2;
}

button {
  border: none;
  background-color: #989CFF;
  width: 100%;
  padding: 5px 10px; /*Button Size */
  color: #000;
  border-radius: 25px;
  transition: all 0.2s ease;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

button a {
  color: #fff;
  text-decoration: none;
}
button a:hover{
    color: #fff !important;
}
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.acaedmic{
  background-color:#B2A7FF;
}

.behavior{
  background-color: #FFA7A7;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

}

/*Font Initial Size*/
.cardInitial {
  font-size: 500%;
  text-transform: uppercase;

}

a {
  display: inherit;
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #0070f3;
}

@media only screen and (max-width: 768px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 25rem;
  }
  .card {
    margin: 5px auto;
    min-width: 25rem;
  }
}
