a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #0070f3;
}

input {
  margin-bottom: 0.5rem;
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  font-size: 24px;
  padding: 3px;
  border: 2px solid #eee;
  border-radius: 4px;
}

textarea {
  font-family: inherit;
  width: auto !important;
  font-size: 24px;
  font-weight: 400;
  padding: 3px;
  border: 2px solid #eee;
  color: #000;
  border-radius: 4px;
}

.sectionOne {
  display: flex;
  flex-direction: column;
  margin: auto 6rem auto;
}

.goalType {
  display: flex;
  /*margin: 20px 0;*/
  justify-content: space-around;
}

.methodOfCollection {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 25rem;
  }
  .card {
    margin: 5px auto;
    min-width: 25rem;
  }
}

/* pretty radio */
.sectionOne label {
  display: flex;
  padding: 10px;
  margin-bottom: 0.5rem;
  align-content: center;
  border-radius: 25px;
  transition: all 0.2s ease;
  text-transform: uppercase;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.55);
}

.sectionOne input[type="radio"] {
  display: none; /*Hides the button*/
}

.sectionOne input[type="radio"]:checked + label {
  background-color: #989CFF; /*Selected Color*/
}

.submit {
  border: none;
  background-color: #989CFF;
  width: 100%;
  padding: 5px 0; /*Button Size */
  font-size: 24px;
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease;
}

button a {
  color: #fff;
  text-decoration: none;
}
button a:hover{
    color: #fff !important;
}
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

input[type="date"]{
  font-family: inherit;
}