@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");
:root {
 --maincolor: #d3d3;
 --secondarycolor: #82bef6;
 --wordcolor: #fff;
 --headcolor: #fff;
 --sidenavcolor: #2C3E50;
}

[data-theme="dark"] {
 --maincolor: #00000080;
 --secondarycolor: #b4bcc2;
 --headcolor: #424949;
}

[data-theme="blue"] {
 --maincolor: #5a9cc594;
 --secondarycolor: #ecf0f1;
 --headcolor: #AED6F1;
}

[data-theme="pink"] {
 --maincolor: #d3d3;
 --secondarycolor: #82bef6;
 --headcolor: #fff;
}

body {
  margin: 0;
  padding: 0;
  /*color: #fff;*/
  font-family: 'Open Sans', Helvetica, sans-serif;
  box-sizing: border-box;
}
.navbar{
  border-radius: 0px !important;
}
/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
}


/* login page */

.item-a {

  grid-column: 2;
  grid-row: 2;
  
  /*background-color: #8ca0ff;*/
  align-self: center;
  position: relative;

  padding-top: 5px;
  padding-bottom: 33px;

  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;

}

.bottom {
  grid-column: 2;
  grid-row: 3;

  align-self: center;
  position: relative;

  padding-top: 5px;
  padding-bottom: 33px;

  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;

}

.top {
  grid-column: 2;
  grid-row: 1;

  align-self: center;
  position: relative;

  padding-top: 5px;
  padding-bottom: 33px;

  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

.grid-master {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 150px 1fr auto;
  width: 100%;
  height: 100vh;
  
}

/* login page ends */






.menu-icon {
  position: fixed; /* Needs to stay visible for all mobile scrolling */
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  background-color: #DADAE3;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
}

a {
  color: var(--wordcolor);
  text-decoration: none;
  background-color: transparent;
}

b {
  color: #DADAE3;
  text-decoration: none;
  background-color: transparent;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  align-items: center;
  justify-content: space-between;
  background-color: var(--headcolor);
}

/* Make room for the menu icon on mobile */
.header__search {
  margin-left: 42px;
}

.header_container {
  width: 100%;
  padding-right: .75rem;
  padding-left: .75rem;
  margin-right: auto;
  margin-left: auto;
}

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  transform: translateX(-245px);
  transition: all .6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2; /* Needs to sit above the hamburger menu icon */
  background-color:  #2C3E50;
}

.sidenav.active {
  transform: translateX(0);
}

.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

.sidenav__list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav__list-item {
  padding: 20px 20px 20px 40px;
  color: #ddd;
}

.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.main {
  grid-area: main;
  margin: 20px;
  position: relative;
  top: 20px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 150px;
  background-color: #e3e4e6;
  color: slategray;
}



.main-overview {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  /*grid-auto-rows: 94px;*/
  grid-gap: 20px;
  margin: 20px;
}

/*for the goal page*/
.name-header {
  display: flex;
  /*float: left;*/
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  //background-color: var(--maincolor);
}




/*.name-extra {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}*/


/*part of the name-header*/
/*.name-overview {
  padding-right: 30px;

}*/



/*Goal Page starts*/

.class-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 80px;
  background-color: #e3e4e6;
  /*color: slategray;*/ 
}

.overviewcard { 
  display: grid; 
  grid-template-columns: repeat(4, 4fr);
  grid-gap: 20px;
  margin: 20px;
}

.goalCardName {
  display: flex;
  justify-content: center;

  /*vertical-align: top;
  display: inline-block;
  align-items: center;
  justify-content: space-between;*/
  /*padding: 20px;*/
  background-color: #DDD7FF;
}

.studentCardName {
  /*display: flex;*/
  justify-content: center;
  text-align: center;
  /*vertical-align: top;
  display: inline-block;
  align-items: center;
  justify-content: space-between;*/
  /*padding: 20px;*/
  border-radius: 5%;
  background-color: #DDD7FF;
}

.name {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: bold;
}
/*Goal Page ends*/



/*Student Page Starts*/

.nameArea {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  justify-content: space-around;
  justify-items: start;

}


/*Student Page Ends*/


/*Goal Profile starts*/

/*middle of the goal page*/
.class-input {
  display: grid;
  grid-gap: 10px;
  margin: 20px;
  float: center;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  padding: 20px;
  background-color: var(--maincolor);
}

.description{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 80px;
  background-color: #e3e4e6;

}

.generic-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}



/*bottom of the goal page*/
.goal-data {
 
  justify-content: space-between;
  float: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  
  background-color: #e3e4e6;
  color: slategray;
}


/*Goal Profile Ends*/


/*Create Student Page starts*/

.part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  align-items: baseline;


  /*width: 100%;*/
  background-color: #DDD7FF;
  -webkit-column-break-inside: avoid;
  padding: 20px;
  box-sizing: border-box;
}


.studentOverview { 
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  /*vertical-align: top;
  align-items: center;
  justify-content: space-between; */
  padding: 20px;
}

/*Create Student Page Ends*/





.main-cards {
  column-count: 1;
  column-gap: 20px;
  margin: 20px
}



.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--secondarycolor);
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
  box-sizing: border-box;
  margin: 20px;
}

/* Force varying heights to simulate dynamic content */
.card:first-child {
  height: 225px;
}

.card:nth-child(2) {
  height: 225px;
}

.card:nth-child(3) {
  height: 225px;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: var(--headcolor);
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
 

  .header__search {
    margin-left: 0;
  }

  .sidenav {
    position: relative;
    transform: translateX(0);
  }

  .sidenav__close-icon {
    visibility: hidden;
  }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
  .main-cards {
    column-count: 2;
  }
}

