/* GRID FOR LOGIN */
:root {
  --main-color: #6bd5e1; /*light blue*/
  --secondary-color: #4C98A1; /*darker blue*/
  --tertiary-color: #D6E6F2; /*sky blue*/
  --text-color: #f9f9f9; /*white*/
  --font-family: 'Bebas Neue W01 Regular'; /*'Fira Sans', sans-serif;*/
}

.item-a {

  grid-column: 2;
  grid-row: 2;
  
  /*background-color: #8ca0ff;*/
  align-self: center;
  position: relative;

  padding-top: 5px;
  padding-bottom: 33px;

  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;

}

.grid-container {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 150px 1fr 150px;
  width: 100%;
  height: 250px;
  
}

.center {
	/*position: absolute;*/
	left: 50%;

	/*text-align: center;*/
    flex-wrap: wrap;
    justify-content: center;
	display: block;
}



/* 
<div class = "item-a">
        <h1>IEP GOAL TRACKER</h1>
        <div class="form-group center">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group center">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        
        <div class = "center">
             <a href="/signUp"><button class="btn btn-primary center">Sign Up</button></a>

             <a href="/login"><button type="submit" class="btn btn-primary center">Sign In</button></a>
        </div>
    </div>
*/