<!DOCTYPE html>

<html>

<head>
  <%- include("../partials/head.ejs")%>
</head>

<body>

  <div class="grid-container">
    <%- include("../partials/header.ejs")%>
    <main class="main">
      <!-- SSteiner@isd.k12.in.us -->
      <div class="class-input">
        <div class="generic-box" id="login">
          <p>Enter the Admin Password</p>
          <input type="text" id="input"></input>
          <input type="button" class="btn btn-primary" onclick="checkPassword()" value="Login" id="button"></input>
        </div>
        <div class="generic-box" id="bulkAdd">
          <form method="POST">
            <p>Upload the Bulk Add Excel File</p>
            <input class="file-input" type="file" name="bulkAdd" id="bulkAdd"></input>
            <input class="btn btn-primary" type="submit" value="Submit"></input>
          </form>
        </div>
      </div>

      <script type="text/javascript">


        var bulkAddDiv = document.getElementById("bulkAdd");
        bulkAddDiv.style.display = "none";

        function checkPassword() {
          var input = document.getElementById("input").value;
          var loginDiv = document.getElementById("login");
          var loginButton = document.getElementById("button");

          if (input == adminPassword) {
            loginDiv.style.display = "none";
            bulkAddDiv.style.display = "block";
          } else {
            loginButton.value = "Please enter the correct password";
          }
        }
      </script>
    </main>
  </div>

</body>

</html>