<!DOCTYPE html>
<head>
  <link rel="icon" type="image/gif/png" href="img/logo.png">
  <title>Track</title>
</head>

<html>
  <link rel="stylesheet" href="./main.css">
  <script type="text/javascript" src="myScripts.js"></script>
  
  <body>

    <!--Navigation bar-->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="classPage.html">Home</a>
      <a href="#">Settings</a>
      <a href="feedback.html">Feedback</a>
      <a href="aboutus.html">About</a>
      <a href="logout.html">Logout</a>
    </div>

    <!--3 prong button that opens up navigation bar-->

    <div onclick="openNav()" class="opennav"> &#9776; </div>

    <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">1st Period English Class ⬇ </button>
          <div id="myDropdown" class="dropdown-content">
            <a href="#home">2nd Period Physics Class</a>
            <a href="#about">3rd Period Math Class</a>
            <a href="#contact">4th Period Chemistry Class</a>
          </div>
        </div>    
     <a href="newstudent.html" class="addNew" style="position: absolute; top: 35px; right:35px">Add new student</a>

     <!-- I don't think we need a profile for the teacher - anything we need for their info can go in the nav bar
      <button type="button" class="profile" style="position: absolute; top:10%; right: 5%"><img src="img\profile_picture.png" class="profilepic"width="75"; height ="75"></button>
    -->

    <div class="student-container" id="demo">
      <!--Loads the Students and Creates Buttons for them-->
        <% students.forEach(function(student) { %>
        <!--Write the desired HTML for each student here -->
            <a href="/student/<%= student.id %>" class = "studentButton">
              <img class = "img-circle" src="img/studentIcon.png" width = "200" height = "200" >
              <div class = "studentName"><%= student.name %></div>
            </a>
        <% }); %>

    </div>

  </body>
</html>

<script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
 </script>

<!-- <script>
//   //This script creates the student buttons
//   // class grid buttons 
//   //var temp = document.getElementById("demo");
//   //var list = "";
//   for (i = 0; i < student.length; i++) {
//     var nameElement = document.createElement("div");
//     nameElement.innerHTML = student[i];
//     nameElement.className="studentName";
//     element.className="studentIcon";
//     var link = 'Anna.html';
//     //var link = student[i] + '.html';
//     element.href= link;
//     var btnDiv = document.getElementById("demo");
//     //document.getElementById("demo").style.color = black;
//     btnDiv.appendChild(element);
//     element.appendChild(nameElement);
//     console.log(element);
//   }
// </script>-->

