<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/createStudent.css" />
  </head>
  <body>
    <%- include("navbar")%>
    <section>
      <form action="/student/create" method="post">
        <!-- Goal -->
        <h2>STUDENT</h2>
        <input type="text" name="firstname" placeholder="First Name" />
        <input type="text" name="lastname" placeholder="Last Name" />
        <input type="text" name="studentemail" placeholder="Email" />
        <input type="date" name="dob" placeholder="Date of Birth" />
        <label for="Grade Level">Grade Level:</label>
        <select class="form-control" name = "grade" style="width:100%">
          <option value=""></option>
          <option value="Pre-K">Pre-K</option>
          <option value="Kindergarten">Kindergarten</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
        <button class="submit">Submit</button>
        <input type="hidden" name="userID" id="userID">
      </form>
    </section>

    <script>
      //sorry this is a super jank way of getting user ID but its OKAY fix later maybe?
      document.getElementById("userID").value = localStorage.getItem("username");
      console.log(localStorage.getItem("userID"));
    </script>
    
  </body>
</html>
