<!DOCTYPE html>
<html>

<head>
  <title>Create New Student</title>
  <%- include("../partials/head.ejs")%>
  <!--<link rel="icon" type="image/gif/png" href="img/logo.png">
  <link rel="stylesheet" href="/main.css">
  <script type="text/javascript" src="myScripts.js"></script>-->
</head>

<div class="grid-container">
  
<%- include("../partials/header.ejs")%>


  <main class="main">
  <h1>Add New Student</h1>
  <form action="/<%=user.id%>/student/create" method="post">
    First Name: <input type="text" name="firstname"><br><br>
    Last Name: <input type="text" name="lastname"><br><br>
    D.O.B.: <input type="date" name="dateofbirth"><br><br>
    Email: <input type="email" name="studentemail"><br><br>
    Grade Level:  <select name = "grade">
      <option value="Pre-K">Pre-K</option>
      <option value="Kindergarten">Kindergarten</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select><br><br>
    Class Name: <input type="text" name="classname">
    Class Period:  <select name = "period">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select><br><br>
    <input type="submit" value="Submit" class="submitButton"><br><br>
  </form>
  <a href="/<%=user.id%>/classPage" class="backButton"></a>
</main>

<footer class="footer">
  <div class="footer__copyright">&copy; 2019 TRACK</div>
</footer>
</div>

</html>
