<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/main.css">
<script type="text/javascript" src="/myScripts.js"></script>

<header>
  <%- include("../partials/header.ejs")%>
</header>

<body>
	<h1>Create New Goal</h1>
	
	<form action="goal/create" method="post">
		Goal Title: <input type="text" name="name"><br><br>
		Goal Description: <textarea name="description"></textarea><br><br>
		<!--Percentage Name: <input type="text" name="percentagename"><br><br>-->
		Start Date: <input type="text" name="startDate">
		End Date: <input type="text" name="endDate"><br><br>
		Goal Type: <br>
		<input type="radio" name="goalType" value="academic"> Academic<br>
		<input type="radio" name="goalType" value="behavioral"> Behavioral<br><br>
		<input type="submit" value="Submit" class="submitButton">
		Method of Collection: <br>
		<input type="checkbox" name="singlePoint" value="singlePoint"> Single Point Percentages <br>
		<input type="checkbox" name="rubric" value="rubric"> Rubrics <br>
		<input type="checkbox" name="comments" value="comments"> Comments <br>
	</form>
	<a href="/classPage" class="backButton"></a>
</body>
</html>