<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/createStudent.css" />
  </head>
  <body>
    <%- include("navbar")%>
    <section>
      <form class="sectionOne">
        <!-- Goal -->
        <h2>STUDENT</h2>
        <input type="text" name="first_name" placeholder="First Name" />
        <input type="text" name="last_name" placeholder="Last Name" />
        <input type="text" name="email" placeholder="Email" />
        <input type="text" name="grade_level" placeholder="Grade Level" />
        <button class="submit"><a href="index.html">Submit</a></button>
      </form>
    </section>
  </body>
</html>
