<!DOCTYPE html>
<html>

<head>
  <title>Create New Student</title>
  <%- include("../partials/head.ejs")%>
</head>

<div class="grid-container">

  <%- include("../partials/header.ejs")%>

  <main class="main">

    <script>
      const currentTheme = localStorage.getItem('theme');
      if (currentTheme) {
        document.documentElement.setAttribute('data-theme', currentTheme);
        localStorage.setItem('theme', currentTheme);
      }
    </script>

    <div class=class-header>
      <h3>Add New Student</h3>
    </div>
    <div class="studentOverview">
      <div class="part">
        <form action="/student/create" method="post">
          Required Fields: <text style="color:red">*</text> <br>

          <label for="First Name">First Name <text style="color:red">* </text>: </label>
          <input type="text" class="form-control" name="firstname" style="width:150%" required>

          <label for="Last Name">Last Name <text style="color:red">* </text>:</label>
          <input type="text" class="form-control" name="lastname" style="width:150%" required>

          <label for="Email">Email <text style="color:red">* </text>:</label>
          <input type="email" class="form-control" name="studentemail" style="width:150%" required>

      </div>

      <div class="part">
        Optional Fields:
        <label for="Date of Birth:">Date of Birth:</label>
        <input type="date" class="form-control" name="dob" style="width:100%">



        <label for="Grade Level">Grade Level:</label>
        <select class="form-control" name="grade" style="width:100%">
          <option value=""></option>
          <option value="Pre-K">Pre-K</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
        <br>


        <div>
          <input type="submit" class="btn btn-primary" style="margin: auto">
          <a href="/classPage" class="btn btn-info" style="margin: auto">Cancel</a>
          <input type="hidden" name="userID" id="userID">
        </div>

      </div>
      </form>
    </div>
  </main>
</div>
<%- include("../partials/footer.ejs")%>

</html>

<script>
  //sorry this is a super jank way of getting user ID but its OKAY fix later maybe?
  document.getElementById("userID").value = localStorage.getItem("username");
  console.log(localStorage.getItem("userID"));
</script>