<!DOCTYPE html>
<html>
	Oops! Looks like the page you are looking for cannot be found. 

	Click here to navigate back home:
	<a href="/classPage">
		<button>Home</button>
	</a>

	Or click here to inform us about the issue: 
	<a href="/feedback">
		<button>Feedback</button>
	</a>
</html>