<!DOCTYPE html>
<html>

<head>
	<title>HOME</title>
	<link rel="stylesheet" href="/css/global.css">
</head>

<body>
	<%- include("navbar.ejs")%>
		<p>Looks like the page you requested didn't load properly. Click HOME to go back and try again.</p>

</body>

</html>