<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/main.css">
<script type="text/javascript" src="myScripts.js"></script>
</head>

<header>
    <%- include("../partials/header.ejs")%>
 </header>

<body>
 <h1>Feedback Form</h1>
 <p> Please let us know if you have any questions <br> or comments about our website so far! </p>
 <form method="GET" action="mailto:purdue.epics.isd.track@gmail.com" enctype="text/plain">
    <div>Subject</div>
    <input type="text" name="subject">

    <div>Message</div>
    <textarea name="body"></textarea>

    <br/>
    <input type="submit" value="">
</form>
</body>
<script>
$(document).ready(function() {
    $('#bt1').click(function() {
        $('#fr1').attr('action',
                       'mailto:purdue.epics.isd.track@gmail.com?subject=' +
                       $('#tb1').val() + '&body=' + $('#tb2').val());
        $('#fr1').submit();
    });
});
</script>
<script>(function(t,e,s,n){var o,a,c;t.SMCX=t.SMCX||[],e.getElementById(n)||(o=e.getElementsByTagName(s),a=o[o.length-1],c=e.createElement(s),c.type="text/javascript",c.async=!0,c.id=n,c.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgd5hoCQ_2BiYIO4vQCFy0XgcHTKSDheFCYN_2BAdykFUK21Io.js"].join(""),a.parentNode.insertBefore(c,a))})(window,document,"script","smcx-sdk");
</script>

</html>
