<!DOCTYPE html>
<html>
<head>
  <title>Feedback</title>
  <link rel="stylesheet" href="../css/global.css" />
  <link rel="stylesheet" href="../css/feedback.css" />
</head>

<body>
  <%- include("navbar.ejs")%>
  <section>
    <h1>Feedback Form</h1>
    <div class="feedbackLayout">
      <script>
          const currentTheme = localStorage.getItem('theme');
          if (currentTheme) {
            document.documentElement.setAttribute('data-theme', currentTheme);
            localStorage.setItem('theme', currentTheme);
          }
          $(document).ready(function () {
            $('#bt1').click(function () {
              $('#fr1').attr('action',
                'mailto:purdue.epics.isd.track@gmail.com?subject=' +
                $('#tb1').val() + '&body=' + $('#tb2').val());
              $('#fr1').submit();
            });
          });
      </script>
      <script>
        (function (t, e, s, n) { var o, a, c; t.SMCX = t.SMCX || [], e.getElementById(n) || (o = e.getElementsByTagName(s), a = o[o.length - 1], c = e.createElement(s), c.type = "text/javascript", c.async = !0, c.id = n, c.src = ["https:" === location.protocol ? "https://" : "http://", "widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgdybVvfatNkc1eSplTFwWbZIrJNs8taSlv89elIcew4gi.js"].join(""), a.parentNode.insertBefore(c, a)) })(window, document, "script", "smcx-sdk");
      </script>
    </div>
  </section>
</body>

</html>
