<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/goalInfo.css" />
  </head>
  <body>
    <%- include("navbar")%>
    <!-- NAME TAG -->
    <section>
      <div class="studentHeader">
        
        <div class="studentName">
          <h1>STUDENT NAME</h1>
        </div>
        
        <div class ="studentInfo">
            <button class="studentInfoButton">
              <a href="goalOccurrence.html"><h2>GOAL</h2></a>
            </button>
            <button class="studentInfoButton">
              <a href="createGoal.html"><h2>EDIT</h2></a>
            </button>
            <button class="studentInfoButton">
              <a href="delete.html"><h2>DELETE</h2></a>
            </button>
        </div>

      </div>
      
    </section>
    <!-- END NAME TAG -->
    <section>
      <div class="studentInformation">
        <div class="box left">
          <h3>Goal Name</h3>
          <p>COUNTING TO 10</p>
          <h3>Goal Description</h3>
          <p>Student has to count to 10!</p>
        </div>
        <div class="box right">
          <h3>Dates</h3>
          <p>Start Date: 01/02/21</p>
          <p>End Date: 06/02/21</p>
          <h3>Goal Type</h3>
          <p>Academic</p>
          <h3>Method of Collection</h3>
          <p>Score</p>
        </div>
      </div>
    </section>
  </body>
</html>
