<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="icon" type="image/gif/png" href="img/logo.png">
    <link rel="stylesheet" href="/flatly.css">
    <link rel="stylesheet" href="/login.css">
    <script type="text/javascript" src="myScripts.js"></script>
</head>
 
<style>
/*form input[type="submit"] {
    width:100px;
    height:40px;
    background-image: none;
    transform: none; 
    position: static;
    background-color: var(--secondary-color);
    margin-bottom: 10px;
}

#forgot {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}*/
</style>

<div class="grid-container">
    <div class = "item-a">

            <h1>IEP GOAL TRACKER</h1>
            
            <div class="form-group center">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group center">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <a href="/login" class="" /a>
            
             <button type="submit" class="btn btn-primary center">Submit</button>
        
    </div>

</div>

</html>


