<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="icon" type="image/gif/png" href="img/logo.png">
  <link rel="stylesheet" href="/main.css">
  <script type="text/javascript" src="myScripts.js"></script>
</head>
 
<style>
#signin {
  width:100px;
  height:40px;
  background-image: none;
  transform: none; 
  position: static;
  background-color: var(--secondary-color);
  margin-bottom: 10px;
}

#forgot {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 auto;
}
</style>

<body>
	<h1>IEP Goal Tracker</h1>
		<h2>LOGIN</h2>
    <a href="/signUp" class="" style="position: absolute; bottom:25px; right:0px">Sign Up</a>
		<img style="width:6%;" src="img/logo.png" alt="clipboard Image Logo">
		<form action="/login_confirm" method="get">
  			Username: <input type="text" name="username"><br><br>
  			Password: <input type="password" id="myInput"><br><br>
<input type="checkbox" onclick="showPassword()">Show Password

<script>
  function showPassword() {
    var passwordTextbox = document.getElementById("myInput");
    if (passwordTextbox.type == "password") {
      passwordTextbox.type = "text";
    } else {
      passwordTextbox.type = "password";
    }
  }
</script>

        <!--<input type="text" name="username" placeholder="Username" required="">
        <input type="password" name="password" placeholder="Password" required="">-->
        
  			<input type="submit" value="Sign In">
  		</form>
  		<a href="#" id="forgot">Forgot Your Password?</a>
</body>
</html>
