<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="icon" type="image/gif/png" href="img/logo.png">
    <link rel="stylesheet" href="/flatly.css">
    <link rel="stylesheet" href="/login.css">
    <script type="text/javascript" src="myScripts.js"></script>
</head>


<div class="grid-container">


    <div class = "item-b">
    <a href="/signUp"><button class="btn btn-primary">Sign Up</button></a>
    </div>

    <div class = "item-a">

            <h1>IEP GOAL TRACKER</h1>
        <div class="form-group center">


                
                <form action="/login_confirm" method="get">


            <div class="form-group center">
                    <label for="exampleInputUsername">Username</label>
                    <input type="text" name="username" placeholder="Enter Username" required="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

        </div>


        <div class="form-group center">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" placeholder="Enter Password" required="" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
            
        <a href="/login"><button type="submit" class="btn btn-primary center">Sign In</button></a>

        </form>

    </div>

</div>



</html>


