<!DOCTYPE html>
<html>
	
<head>
	<link rel="stylesheet" href="./main.css">
</head>

<header>
    <%- include("../partials/header.ejs")%>
 </header>

<body>
	<center>
	<h1>Thank you for using TRACK </h1>
	</center>
</body>
</html>
