<!DOCTYPE html>
<html>
	
<head>
	<link rel="icon" type="image/gif/png" href="img/logo.png">
	<script type="text/javascript" src="myScripts.js"></script>
	<style>
		body {
	/*pretty light blue color*/
	background-color: #2C3E50;
	font-family: var(--font-family);
	text-align: center;
	margin: auto;
  font-size: 30px;
}
	</style>
</head>

<body>
	<center>
	<h1>Thank you for using TRACK </h1>
	
	</center>
</body>
</html>
