<!DOCTYPE html>
<html>
	
<head>
	<link rel="stylesheet" href="./main.css">
	<script type="text/javascript" src="myScripts.js"></script>
</head>

<header>
    <%- include("../partials/header.ejs")%>
</header>

<body>
	<center>
	<h1>Thank you for using TRACK </h1>
	</center>
</body>
</html>
