<!DOCTYPE html>
<html>
	
<head>
	<link rel="stylesheet" href="./main.css">
	<link rel="icon" type="image/gif/png" href="img/logo.png">
	<script type="text/javascript" src="myScripts.js"></script>
</head>

<body>
	<center>
	<h1>Thank you for using TRACK </h1>
	</center>
</body>
</html>
