<!-- NAV BAR -->
<nav>
  <div>
    <h2>TRACK ISD</h2>
  </div>
  <ul>
    <li>
      <a href="/classPage">
        <div>HOME</div>
      </a>
    </li>
    <li>
      <a href="/aboutUs">
        <div>ABOUT</div>
      </a>
    </li>
    <li>
      <a href="/feedback">
        <div>FEEDBACK</div>
      </a>
    </li>
    <li>
        <a href="/logout">
          <div>LOGOUT</div>
        </a>
      </li>
  </ul>
</nav>
<!-- END NAV BAR -->
