<!DOCTYPE html>

<html>
<head>
  <title>Settings</title>
  <%- include("../partials/head.ejs")%>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
</head>

<div class="grid-container">
  
  <header class="header">
    <div class="header__menu">
       <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" style="width: all; margin-left: 15px;"> 
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
  </header>

<%- include("../partials/header.ejs")%>

<div class="main">

<body>
  <div class="middle">
    <h1>Color Theme</h1>

    <form>
      <label>upload excel sheet here</label>
      <input type="file" id="fileUpload" accept=".xlsx">
      <button onClick="upload()">submit</button>
      <div id="dvExcel"></div>

    </form>

    <script type="text/javascript">
    function upload() {
        //Reference the FileUpload element.
        console.log("upload");
        var fileUpload = document.getElementById("fileUpload");
 
        //Validate whether File is valid Excel file.
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xls|.xlsx)$/;
        if (regex.test(fileUpload.value.toLowerCase())) {
            if (typeof (FileReader) != "undefined") {
                console.log("is real excel file");
                var reader = new FileReader();
 
                //For Browsers other than IE.
                if (reader.readAsBinaryString) {
                    console.log("is not IE");
                    reader.onload = function (e) {
                        ProcessExcel(e.target.result);
                    };
                    reader.readAsBinaryString(fileUpload.files[0]);
                } else {
                    //For IE Browser.
                    console.log("is IE");
                    reader.onload = function (e) {
                        var data = "";
                        var bytes = new Uint8Array(e.target.result);
                        for (var i = 0; i < bytes.byteLength; i++) {
                            data += String.fromCharCode(bytes[i]);
                        }
                        ProcessExcel(data);
                    };
                    reader.readAsArrayBuffer(fileUpload.files[0]);
                }
            } else {
                alert("This browser does not support HTML5.");
            }
        } else {
            alert("Please upload a valid Excel file.");
        }
    };
    function ProcessExcel(data) {
        console.log("ProcessExcel");
        //Read the Excel File data.
        var workbook = XLSX.read(data, {
            type: 'binary'
        });
 
        //Fetch the name of First Sheet.
        var firstSheet = workbook.SheetNames[0];
 
        //Read all rows from First Sheet into an JSON array.
        var excelRows = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[firstSheet]);
        console.log(excelRows);
        let adder = 0;
        for (let i = 0; i < 10000000000; i++) {
          adder++;
        }
 
        //Create a HTML Table element.
        var table = document.createElement("table");
        table.border = "1";
 
        //Add the header row.
        var row = table.insertRow(-1);
 
        //Add the header cells.
        var headerCell = document.createElement("TH");
        headerCell.innerHTML = "First Name";
        row.appendChild(headerCell);
 
        headerCell = document.createElement("TH");
        headerCell.innerHTML = "Last Name";
        row.appendChild(headerCell);
 
        headerCell = document.createElement("TH");
        headerCell.innerHTML = "Email";
        row.appendChild(headerCell);

        headerCell = document.createElement("TH");
        headerCell.innerHTML = "DOB";
        row.appendChild(headerCell);

        headerCell = document.createElement("TH");
        headerCell.innerHTML = "Teacher Email";
        row.appendChild(headerCell);
 
        //Add the data rows from Excel file.
        for (var i = 0; i < excelRows.length; i++) {
            //Add the data row.
            var row = table.insertRow(-1);
 
            //Add the data cells.
            var cell = row.insertCell(-1);
            cell.innerHTML = excelRows[i].FirstName;
 
            cell = row.insertCell(-1);
            cell.innerHTML = excelRows[i].LastName;
 
            cell = row.insertCell(-1);
            cell.innerHTML = excelRows[i].Email;

            cell = row.insertCell(-1);
            cell.innerHTML = excelRows[i].DOB;

            cell = row.insertCell(-1);
            cell.innerHTML = excelRows[i].TeacherEmail;
        }
        console.log(table);

 
        var dvExcel = document.getElementById("dvExcel");
        dvExcel.innerHTML = "";
        dvExcel.appendChild(table);
    };
</script>
    




    <!-- <div class="theme-switch-wrapper">
      <label class="theme-switch" for="checkbox">
        <input type="radio" id="pink" name="color-options"/>
        <label for="pink"><img src="img/original_theme.png" height=200 width=400 /></label>
    </label>
    <em>Enable Default Mode!</em>
    </div>

    <div class="theme-switch-wrapper">
      <label class="theme-switch" for="checkbox">
        <input type="radio" id="dark" name="color-options"/>
        <label for="dark"><img src="img/dark_theme.png" height=200 width=400 /></label>
    </label>
    <em>Enable Dark Mode!</em>
    </div>

    <div class="theme-switch-wrapper">
      <label class="theme-switch" for="checkbox">
        <input type="radio" id="blue" name="color-options"/>
        <label for="blue"><img src="img/blue_theme.png" height=200 width=400 /></label>
    </label>
    <em>Enable Blue Mode!</em>
    </div> -->

    <!-- <script type="text/javascript">
      const toggleSwitch_pink = document.querySelector('.theme-switch input[id="pink"]');
      const toggleSwitch_dark = document.querySelector('.theme-switch input[id="dark"]');
      const toggleSwitch_blue = document.querySelector('.theme-switch input[id="blue"]');

      const currentTheme = localStorage.getItem('theme');

      if (currentTheme) {
        document.documentElement.setAttribute('data-theme', currentTheme);
  
        if (currentTheme === 'dark') {
          toggleSwitch_dark.checked = true;
          toggleSwitch_blue.checked = false;
          toggleSwitch_pink.checked = false;
        }

        if (currentTheme === 'blue') {
          toggleSwitch_dark.checked = false;
          toggleSwitch_blue.checked = true;
          toggleSwitch_pink.checked = false;
        }

        if (currentTheme === 'pink') {
          toggleSwitch_dark.checked = false;
          toggleSwitch_blue.checked = false;
          toggleSwitch_pink.checked = true;
        }
      }

      function switchTheme(e, thememode) {
        if (e.checked) {
          document.documentElement.setAttribute('data-theme', thememode);
          localStorage.setItem('theme', thememode);
        }
      }

      toggleSwitch_pink.addEventListener('change', function(){switchTheme(toggleSwitch_pink, "pink")});
      toggleSwitch_dark.addEventListener('change', function(){switchTheme(toggleSwitch_dark, "dark")});
      toggleSwitch_blue.addEventListener('change', function(){switchTheme(toggleSwitch_blue, "blue")});
    </script> -->
  </div>
</body>

</div>



<footer class="footer">
  <div class="footer__copyright">&copy; 2019 TRACK</div>
</footer>

</div>
</html>
