<!DOCTYPE html>

<html>
<head>
  <title>Profile</title>
  <%- include("../partials/head.ejs")%>
  <script type="text/javascript" src="myScripts.js"></script>
</head>
<!-- testing-->


<div class="grid-container">



  <header class="header">
    <div class="header__menu">
       <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" style="width: all; margin-left: 15px;"> 
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
  </header>

<%- include("../partials/header.ejs")%>

<div class="main">

<body>
  <div class="middle">
    <h1>COMING SOON!! :D</h1>
    <p id="demo" style="font-size:30px"></p>
  </div>
</body>

</div>



<footer class="footer">
  <div class="footer__copyright">&copy; 2019 TRACK</div>
</footer>

</div>
</html>
