<!DOCTYPE html>

<html>
<head>
  <title>Settings</title>
  <%- include("../partials/head.ejs")%>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
</head>

<div class="grid-container">
  
  <header class="header">
    <div class="header__menu">
       <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" style="width: all; margin-left: 15px;"> 
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
  </header>

<%- include("../partials/header.ejs")%>

<div class="main">

<body>
  <div class="middle">
    <h1>Color Theme</h1>

    <form>
      <label>upload excel sheet here</label>
      <input type="file" id="excelInput" accept=".xlsx">
      <button onClick="submitFile()">submit</button>

    </form>

    <script>
      function submitFile() {
          console.log("working");
          this.parseExcel = function(file) {
          var reader = new FileReader();

          reader.onload = function(e) {
            var data = e.target.result;
            var workbook = XLSX.read(data, {
              type: 'binary'
            });

            workbook.SheetNames.forEach(function(sheetName) {
              // Here is your object
              var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
              var json_object = JSON.stringify(XL_row_object);
              console.log(json_object);

            })

          };

          reader.onerror = function(ex) {
            console.log(ex);
          };

          reader.readAsBinaryString(file);
        };
        
      }

    </script>
    




    <!-- <div class="theme-switch-wrapper">
      <label class="theme-switch" for="checkbox">
        <input type="radio" id="pink" name="color-options"/>
        <label for="pink"><img src="img/original_theme.png" height=200 width=400 /></label>
    </label>
    <em>Enable Default Mode!</em>
    </div>

    <div class="theme-switch-wrapper">
      <label class="theme-switch" for="checkbox">
        <input type="radio" id="dark" name="color-options"/>
        <label for="dark"><img src="img/dark_theme.png" height=200 width=400 /></label>
    </label>
    <em>Enable Dark Mode!</em>
    </div>

    <div class="theme-switch-wrapper">
      <label class="theme-switch" for="checkbox">
        <input type="radio" id="blue" name="color-options"/>
        <label for="blue"><img src="img/blue_theme.png" height=200 width=400 /></label>
    </label>
    <em>Enable Blue Mode!</em>
    </div> -->

    <!-- <script type="text/javascript">
      const toggleSwitch_pink = document.querySelector('.theme-switch input[id="pink"]');
      const toggleSwitch_dark = document.querySelector('.theme-switch input[id="dark"]');
      const toggleSwitch_blue = document.querySelector('.theme-switch input[id="blue"]');

      const currentTheme = localStorage.getItem('theme');

      if (currentTheme) {
        document.documentElement.setAttribute('data-theme', currentTheme);
  
        if (currentTheme === 'dark') {
          toggleSwitch_dark.checked = true;
          toggleSwitch_blue.checked = false;
          toggleSwitch_pink.checked = false;
        }

        if (currentTheme === 'blue') {
          toggleSwitch_dark.checked = false;
          toggleSwitch_blue.checked = true;
          toggleSwitch_pink.checked = false;
        }

        if (currentTheme === 'pink') {
          toggleSwitch_dark.checked = false;
          toggleSwitch_blue.checked = false;
          toggleSwitch_pink.checked = true;
        }
      }

      function switchTheme(e, thememode) {
        if (e.checked) {
          document.documentElement.setAttribute('data-theme', thememode);
          localStorage.setItem('theme', thememode);
        }
      }

      toggleSwitch_pink.addEventListener('change', function(){switchTheme(toggleSwitch_pink, "pink")});
      toggleSwitch_dark.addEventListener('change', function(){switchTheme(toggleSwitch_dark, "dark")});
      toggleSwitch_blue.addEventListener('change', function(){switchTheme(toggleSwitch_blue, "blue")});
    </script> -->
  </div>
</body>

</div>



<footer class="footer">
  <div class="footer__copyright">&copy; 2019 TRACK</div>
</footer>

</div>
</html>
