<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/flatly.css">
<script type="text/javascript" src="myScripts.js"></script>
</head>

 <body>

<<<<<<< Updated upstream
  	<center><p>Sign Up Successful!</p>
  	<a href="/">To login!</a></center>
=======
  	<h>Sign Up Successful</h>
  	<p>Please Return to our <li><a href="/">login!</a></li></p>

  	<li><a href="/">To login!</a></li>
>>>>>>> Stashed changes
<!--<img src="https://www.slashgear.com/wp-content/uploads/2018/05/rick_and_morty.jpg"  height="400" width="450">-->

		
</body>

</html>