<!DOCTYPE html>
<html>
<head>
<title>Sign Up</title>
<link rel="stylesheet" href="/flatly.css">
<script type="text/javascript" src="myScripts.js"></script>
</head>


 <header>
    <%- include("../partials/header.ejs")%>
 </header>

 <body>

  	<!--<a href="/signUp/creatUser" class="addNew" style="position: absolute; bottom: 35px; right:35px">Sign up</a>-->
  	<a href="/flatly.css" class="" style="position: absolute; bottom: 35px; left: : 25px">Back</a>
	<form action="/signUp/createUser" method="post">
		Username:<input type="text" name="username" placeholder="Username" required="" style="width: 50%; height: 150%;"><br><br>
		Password:<input type="password" name="password" placeholder="Password" required="" style="width: 50%; height: 150%;">
		<input type="submit" value="Submit" class="submitButton">

		
</body>

</html>
