<!DOCTYPE html>
<html>
<head>
<title>Sign Up</title>
<link rel="stylesheet" href="/flatly.css">
<script type="text/javascript" src="myScripts.js"></script>
</head>


 <body>
 <h1 align="center">SIGN UP</h1>

	<form action="/signUp/createUser" method="post" style="align-content: center; position: relative; left: 30%">
		Username:  <input type="text" name="username" placeholder="Username" required="" style="width: 30%; height: 150%;"><br><br>
		Password:  <input type="password" name="password" placeholder="Password" required="" style="width: 30%; height: 150%;">
		<br><br><input type="submit" value="Submit" class="submitButton">

		
</body>

</html>
