<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/flatly.css">
<script type="text/javascript" src="myScripts.js"></script>
</head>

 <body>

  	<center><p>Sign Up Successful!</p>
  	<a href="/">To login!</a></center>
<!--<img src="https://www.slashgear.com/wp-content/uploads/2018/05/rick_and_morty.jpg"  height="400" width="450">-->

		
</body>

</html>