<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/studentInfo.css" />
  </head>
  <body>
    <%- include("navbar")%>
    <!-- NAME TAG -->
    <section>
      <div class="studentHeader">
        
        <div class="studentName">
          <h1>STUDENT NAME</h1>
        </div>
        
        <div class ="studentInfo">
          <button class="studentInfoButton">
            <a href="student.html"><h2>BACK</h2></a>
          </button>
            <button class="studentInfoButton">
              <a href="createStudent.html"><h2>EDIT</h2></a>
            </button>
            <button class="studentInfoButton">
              <a href="delete.html"><h2>DELETE</h2></a>
            </button>
        </div>

      </div>
      
    </section>
    <!-- END NAME TAG -->
    <section>
      <div class="studentInformation">
        <div class="box left">
          <h3>First Name</h3>
          <p>Conley</p>
          <h3>Last Name</h3>
          <p>Tjahjono</p>
        </div>
        <div class="box right">
          <h3>Email</h3>
          <p>conleytjahjono@gmail.com</p>
          <h3>Grade Level</h3>
          <p>Senior</p>
        </div>
      </div>
    </section>
  </body>
</html>
