<!DOCTYPE html>
<html>

<style>
label {
	font: 1rem 'Fira Sans', sans-serif;
}

input {
	margin: .4rem;
}
</style>
<body>
	<!--
	<input type="file" onchange="previewFile()"><br>
	<img src="" height="200" alt="Image preview...">

	<script> 
		function previewFile() {
		  const preview = document.querySelector('img');
		  const file = document.querySelector('input[type=file]').files[0];
		  const reader = new FileReader();

		  reader.addEventListener("load", function () {
		    // convert image file to base64 string
		    preview.src = reader.result;
		    console.log(reader.result);
		    console.log(preview.src);
		    console.log("yo");
		  }, false);

		  if (file) {
		    reader.readAsDataURL(file);
		  }
		}
	</script>-->
	<script src="node_modules/blueimp-file-upload/js/jquery.fileupload.js">
		$('#fileupload').fileupload();
	</script>
	<!--microsoft graph:
		https://docs.microsoft.com/en-us/onedrive/developer/controls/file-pickers/js-v72/open-file?view=odsp-graph-online-->

	<!--image gallery display:
		https://www.w3schools.com/css/css_image_gallery.asp-->
	
		<!--
	<script type="text/javascript" src="https://js.live.net/v7.2/OneDrive.js"></script>


	<script type="text/javascript">
	  function launchSaveToOneDrive(){
	    var odOptions = { 
			clientId: "f4238741-ebe5-4017-94b5-4de9dc3c20b8",
			action: "save",
			sourceInputElementId: "fileUploadControl",
			sourceUri: "",
			fileName: "",
			openInNewWindow: false,
			advanced: {},
			success: function(files) {console.log("success") /* success handler */ },
			progress: function(percent) { /* progress handler */ },
			cancel: function() { /* cancel handler */ },
			error: function(error) { console.log("error")/* error handler */ }
		};
		OneDrive.save(odOptions);
		}
	</script>

	<input id="fileUploadControl" name="fileUploadControl" type="file" />
	<button onclick="launchSaveToOneDrive()">Save to OneDrive</button>

	<br><br>

	<script type="text/javascript">
	  function launchOneDrivePicker(){
	    var odOptions = { 
			clientId: "f4238741-ebe5-4017-94b5-4de9dc3c20b8",
			action: "share", //query to return identifiers that can be used with the Microsoft Graph API or OneDrive API.
			multiSelect: true,
			advanced: {
				loginHint: true
			},
			success: function(files) { /* success handler */ },
			cancel: function() { /* cancel handler */ },
			error: function(error) { /* error handler */ }
		};
		OneDrive.open(odOptions);
	  }
	</script>

	<button onClick="launchOneDrivePicker()">Open from OneDrive</button>
-->
	<!--<div>
	    
	</div>

    window.open(result);

    e.preventDefault();
});
</script>


	<p>Select a maintenance drone:</p>

	<div>
		<input type="radio" id="huey" name="drone" value="huey"
		checked>
		<label for="huey">Huey</label>
	</div>

	<div>
		<input type="radio" id="dewey" name="drone" value="dewey">
		<label for="dewey">Dewey</label>
	</div>

	<div>
		<input type="radio" id="louie" name="drone" value="louie">
		<label for="louie">Louie</label>
	</div>

<input type="button" style="height: 30px; width: 30px" onclick="createRadioElement('hello')"></input><br><br>
<input type="button" style="height: 30px; width: 30px" name="Submit" onclick="submit()">Submit!</input>
		<div id="test">
		
		</div>-->
</body>

<script>
	console.log("heyoo");
	
function createRadioElement(name) {
   var radioInput;
   try {
        var radioHtml = '<input type="radio" name="' + name + '"';
        radioHtml += '/>';
        radioInput = document.createElement(radioHtml);
    } catch( err ) {
        radioInput = document.createElement('input');
        radioInput.setAttribute('type', 'radio');
        radioInput.setAttribute('name', name);
        radioInput.setAttribute('id', 'issame');
        radioInput.setAttribute('value', 'issame');
    }
    var lbl1 = document.createElement("label");
	lbl1.innerHTML = "YES";
    document.getElementById("test").appendChild(lbl1);
    document.getElementById("test").append(radioInput);
}

function submit() {
	console.log("radio")
}
</script>-->
</html>