<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/main.css">
<script type="text/javascript" src="myScripts.js"></script>
</head>


 <header>
    <%- include("../partials/header.ejs")%>
 </header>

 <body>

  	<p>You found me!</p>
  	<p>Here is the userfile!</p>
  	<p>Not linked to student files yet :(</p>
  	<li><a href="/logout">Logout!</a></li>
<img src="https://pbs.twimg.com/profile_images/897250392022540288/W1T-QjML_400x400.jpg">

		
</body>

</html>