<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
      <%- include("navbar")%>
    <!-- SEARCH -->
    <section>
      <!-- <h4>Search</h4> -->
      <input placeholder="What student do you want?" />
    </section>
    <!-- END SEARCH -->
    <section>
      <input type="range" id="vol" name="vol" min="0" max="50">
    </section>
    <section>
      <div class="cardContainer">
        <!-- CREATE CARD -->
        <a href="createStudent.html">
          <div class="card">  
            <div class="cardInitial">+</div>
          </div>
        </a>
        <!-- END SAMPLE CARD -->
        <!-- SAMPLE CARD -->
        <a href="student.html"
          ><div class="card">
            <div class="cardInfo">
              <div class="cardInitial">
                CT
              </div>
                <p>Conley Tjahjono</p>
            </div>
          </div>
        </a>
        <!-- END SAMPLE CARD -->
        <!-- SAMPLE CARD -->
        <a href="student.html"
          ><div class="card">
            <div class="cardInfo">
              <div class="cardInitial">
                CT
              </div>
                <p>Conley Tjahjono</p>
            </div>
          </div>
        </a>
        <!-- END SAMPLE CARD -->
        <!-- SAMPLE CARD -->
        <a href="student.html"
          ><div class="card">
            <div class="cardInfo">
              <div class="cardInitial">
                CT
              </div>
                <p>Conley Tjahjono</p>
            </div>
          </div>
        </a>
        <!-- END SAMPLE CARD -->
        <!-- SAMPLE CARD -->
        <a href="student.html"
          ><div class="card">
            <div class="cardInfo">
              <div class="cardInitial">
                CT
              </div>
                <p>Conley Tjahjono</p>
            </div>
          </div>
        </a>
        <!-- END SAMPLE CARD -->
      </div>
    </section>
  </body>
</html>
