<!-- NAV BAR -->
<nav>
    <div>
      <h2>TRACK ISD 2.0</h2>
    </div>
    <ul>
      <li>
        <a href="index.ejs">
          <div>HOME</div>
        </a>
      </li>
      <li>
        <a href="about.ejs">
          <div>ABOUT</div>
        </a>
      </li>
      <li>
        <a href="feedback.ejs">
          <div>FEEDBACK</div>
        </a>
      </li>
      <li>
          <a href="logout.ejs">
            <div>LOGOUT</div>
          </a>
        </li>
    </ul>
  </nav>
  <!-- END NAV BAR -->